<h1>Nova atualização de seu chamado</h1>
<p>Animal: <%= @animal.name %></p>
<p>Idade: <%= @animal.age %></p>
<p>Extra Informação: <%= @animal.extra_information %></p>
<p>Status: <%= @animal.status %></p>
